In [1]:
import pandas as pd

In [9]:
df1 = pd.DataFrame([[1,2,3,4],[11,12,13,14],[21,22,23,24],[31,32,33,34],[41,52,43,64],[91,92,93,74]],columns=['A','B','C','D'])
df1

    A   B   C   D
0   1   2   3   4
1  11  12  13  14
2  21  22  23  24
3  31  32  33  34
4  41  52  43  64
5  91  92  93  74

In [14]:
df1.to_csv("mydataframe1090521.csv")

In [15]:
df1.to_csv("mydataframe2090521.csv",index=False)