In [1]:
import pandas as pd

In [27]:
df1 = pd.DataFrame([[1,2,3,4],[11,12,13,14]],columns=['A','B','C','D'])
df1

    A   B   C   D
0   1   2   3   4
1  11  12  13  14

In [41]:
df2 = pd.DataFrame([[1,2,23,24],[11,125,13,1554]],columns=['W1','X1','Y1','Z1'])
df2

   W1   X1  Y1    Z1
0   1    2  23    24
1  11  125  13  1554

In [42]:
df3 = pd.merge(df1,df2, right_on='W1', left_on='A')

In [43]:
df3

    A   B   C   D  W1   X1  Y1    Z1
0   1   2   3   4   1    2  23    24
1  11  12  13  14  11  125  13  1554